<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />

</head>

<body>
    <header class="site-header clearfix">

    
        <!-- <NAvbar -->


        <nav>
            <div class="logo">
                 <p class="h1">FINSENTIAL</p> 
                 
                
                <!-- <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet"> -->
            </div>
            <div class="menu">
                <ul>
                    <!-- <li <button type="button" class="btn btn-primary"></button>
                        Home</li>
                    <li <button type="button" class="btn btn-primary"></button>
                        Quiz</li>
                    <li <button type="button" class="btn btn-primary"></button>
                        About Us</li>
                        <a href="contact/contact.html">
                    <li <button type="button" class="btn btn-primary"></button>
                        Contact Us</li></a>
                    <li <button type="button" class="btn btn-primary"></button>
                        Contact Us</li></a> -->
                        <li class="nav-item"><a href="{% url 'index.html' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'about.html' %}" class="nav-link pl-0">About</a></li>
        <li class="nav-item"><a href="{% url 'courses.html' %}" class="nav-link" style="padding-left: 0px; padding-top: 22.22px; padding-right: 0px;">Career Fields</a></li>
        <li class="nav-item"><a href="{% url 'teacher.html' %}" class="nav-link">Jobs</a></li>
        <li class="nav-item"><a href="{% url 'teacher.html' %}" class="nav-link">Jobs</a></li>
        <li class="nav-item"><a href="{% url 'teacher.html' %}" class="nav-link">Jobs</a></li>
                </ul>
            </div>
        </nav>
        <section>



            <!-- <!-- LEFTSIDE  -->

            <div class="leftside">

            </div>



            <!-- RIGHTSIDE  -->


            <div class="rightside">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                            <div class="card card-signin my-5">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Sign In</h5>
                                    <form class="form-signin">
                                        <div class="form-label-group">
                                            <input type="email" id="inputEmail" class="form-control"
                                                placeholder="Email address" required autofocus>
                                            <label for="inputEmail">Email address</label>
                                        </div>

                                        <div class="form-label-group">
                                            <input type="password" id="inputPassword" class="form-control"
                                                placeholder="Password" required>
                                            <label for="inputPassword">Password</label>
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Remember
                                                password</label>
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                            type="submit">Sign in</button>
                                        <hr class="my-4">
                                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                                class="fab fa-google mr-2"></i> Sign in with Google</button>
                                        <button class="btn btn-lg btn-facebook btn-block text-uppercase"
                                            type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with
                                            Facebook</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </header>
</body>

</html>





<!-- FOOTER  -->


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
                           <div >
         
                       
                        <ul class="social">
                            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-github">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-instagram">   </i> </a> </li>
                            
                        </ul>
                        <ul>
                     <section >      
                        <div  > 


                            <!-- <h3> ABOUT US </h3> -->

                           <ul>
                               <li> <a href="#"> HOME </a> </li>
                               <li> <a href="#"> FORUMS </a> </li>
                               <li> <a href="#"> QUIZ </a> </li>
                               <li> <a href="#"> ABOUT US </a> </li>
                           </ul>
                       </div> 
                    </ul>
               </div> 
            </section> 
                    
            
        </div>
    </div>
    </div>   
</footer>